
h2 {
    text-align: center;
    background-color: rgba(0, 109, 128, 0.295);
    z-index: 1;
}



.box iframe {
    margin: 0 auto;
    background-color: rgba(103, 18, 182, 0.164);
}

iframe {
    display: block;
    border-style:none;
}